<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd">
<!--  
  Root 공통빈
  DB관련 작업 (드라이버 로딩 , 템플릿 객체)
  view 작업 (공통 UI) (internalResourceViewResolver)
  
  import org.springframework.jdbc.datasource.DriverManagerDataSource;
  import org.springframework.jdbc.core.JdbcTemplate;
  
-->
<!-- 공통 DB작업  -->
 <bean id="driverManagerDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
 	<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
 	<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE" />
 	<property name="username" value="springuser" />
 	<property name="password" value="1004" />
 </bean>
 
<!-- Jdbc 템플릿 설정 -->
 <bean id="" class="org.springframework.jdbc.core.JdbcTemplate" >
 	<property name="dataSource" ref="driverManagerDataSource"></property>
 </bean>
 
 <!-- 공통 요소  -->


<!-- Mybatis 설정 -->
<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="driverManagerDataSource"></property>
	<property name="mapperLocations" value="classpath*:mapper/*xml" />
</bean>

<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
	<constructor-arg index="0" ref="sqlSessionFactoryBean"/>
</bean>
<!-- Mybatis 설정 -->


<!-- 파일 업로드 -->
<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
  <property name="maxUploadSize" value="10485760"/>
</bean>
	
	<!-- 암호화 빈객체 -->
	<bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<!-- <constructor-arg name="strength" value="20"></constructor-arg> -->
	</bean>

</beans>